{% extends "base.html" %}

{% block page_content %}
WELCOME

{{ gatto('2') }}

My dear friend, I welcome you to this great place of tranquillity.

{{ gatto('2') }}

I wish you the most enjoyable stay in this training arena.

{{ gatto('2') }}

Challs are made for beginners, by <s>beginners</s> various flagbot people.

{{ gatto('2') }}

Please take absolutely your time in the challenges, you are here to learn and improve.

{{ gatto('2') }}

Experiment with categories out of your comfort zone. Find unintended solutions.

{{ gatto('2') }}

Forget about your exams and responsibilities. They don't matter. Stress is bad for your mind.

{{ gatto('2') }}

This is the time to make a deep dive into yourself, and come out with some fucking flags.

{{ gatto('2') }}

Relax, enjoy, open up a beer, <s>light a j*int</s>, put on some chill music.

{{ gatto('2') }}

You hate this color? No worries - just refresh the page.

{{ gatto('2') }}

Finally, find someone who will listen to your rants. Don't keep them inside of you.

{{ gatto('2') }}

Whenever you are ready, click on the link below to begin your journey.

{{ gatto('2') }}

<a href="{{ url_for('index') }}">I am ready. My mind is at peace.</a>




<form method="post" action="/"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /></form>
{% endblock %}
