{% set colors = gen_colors() %}
{% set curtains = print_curtains() %}
<style>

.text {
    margin: auto;
		line-height: 1.1em;
		text-shadow: 0 0 2px {{ colors[2] }}FF;
		font-family: monospace;
}

.banner {
    line-height: 1.1em;
    text-shadow: 0 0 5px; 
		font-size: 1.0em;
}

.solved td:nth-child(2) {
	background-color: {{ colors[1] }}33;
}

.content {

}

.grimes {
	color: {{ colors[2] }};
	#font: 15px monospace;
	font-family: monospace;
	margin: 10px;
	align-self: stretch;
	background: linear-gradient(to right, {{ colors[2] }}00 , {{ colors[2] }}ff);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}
.gright {
	background: linear-gradient(to left, {{ colors[2] }}00 , {{ colors[2] }}ff);
	background-clip: text;
	-webkit-background-clip: text;
}

.master {
	display: flex;
	justify-content: center;
	margin:auto;
}

a:hover, a:active {
	color: {{ colors[2] }} !important;
	background: none !important;
}

a:link, a:visited {
	color:{{ colors[1] }};
	text-decoration:none;
	text-shadow: 0 0 5px;
}

body  {
	background-color:{{ colors[3] }};
	position: relative;
	color: {{ colors[0] }};
	font-size: 15px;
	min-width: 1200px;
}
</style>
<body>



<div class="master">
<div class="grimes gleft" style="text-align:right">
{{ curtains[0]|safe }}
</div>
<div class="content">


{% include 'header.html' %}


<br/>

{% include 'menu.html' %}



<center>
<pre class="text">
{% block content %}{% block page_content %} {% endblock %}
{% endblock %}
</pre>
</center>

</div>
<div class="grimes gright">
{{ curtains[1]|safe }}
</div>
</div>

</body>
